@import "bourbon";
@import "vars";
@import "fonts";

body{
  font-family:verdana;
}
.shake{
  animation-name: shake;
  animation-timing-function: ease;
  animation-duration: .4s;
}

@include keyframes(shake){
  from{
    transform: translateX(0px);
  }
  20%,60%{
    transform: translateX(-10px);
  }
  40%,80%{
    transform: translateX(10px);
  }
  to{
    transform: translateX(0px);
  }
}

@if $adaptive == true {
  @media (max-width: 480px){

  }
}


.logo{
  padding: 14px 0;
  float: left;
  @if $adaptive == true {
    @media (max-width: 991px){
      text-align: center;
      float: none;
    }
  }
}

.head-text{
  text-align: center;
  padding-top: 29px;
  float: inherit;
  padding-left: 90px;
  h2{
    font-family:TrajanPro3-Bold;
    font-size: 15px;
    color: #151515;
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      padding-left: 0;
      float: none;
    }
  }
}

.right-num-soc{
  padding-top: 20px;
  text-align: right;
  float: right;
  @if $adaptive == true {
    @media (max-width: 991px){
      text-align: center;
      float: none;
    }
  }
  p{
    font-family:verdana;
    font-size:18px;
    color: #151515;
  }
  ul{
    display: inline-block;
  }
  li{
    float: left;
    margin: 9px 2px;
  }
  a{
    display: block;
  }
}

.grey-head{
  background-color: #acb0ba;
  min-height: 84px;
}

body .departments-menu{
  float: left;
  p{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #151515;
    padding-top: 32px;

  }
  ul{
    vertical-align: top;
    display: inline-block;
    margin: 2px 0;
    padding-left: 40px;
  }
  li{
    float: left;
    &:first-child{
      a{
        margin-left: 0;
      }
    }
    &:last-child{
      margin-right: 0;
    }
    &:nth-child(3){
      a{
        &:hover{
          background-image: url("../img/3-h.png") !important;
        }
      }
    }
    &:nth-child(4){
      a{
        &:hover{
          background-image: url("../img/4-h.png") !important;
        }
      }
    }
    &:nth-child(5){
      a{
        &:hover{
          background-image: url("../img/5-h.png") !important;
        }
      }
    }
  }
  a{
    width: 65px;
    height: 65px;
    transition: 0.5s;
    display: block;
    background-size: cover;
    background-position: center;
    margin: 9px 10.5px 10px 10.5px;
    &:hover{
      width: 78px;
      height: 79px;
      margin: 2px 1px 2px 1px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      float: none;
      text-align: center;
    }
  }
  @if $adaptive == true {
    @media (max-width: 670px){
      ul{
        padding-left: 0;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 445px){
      ul{
       min-height: 88px;
      }
      li{
        float: none;
        display: inline-block;
      }
      a{
        margin: 0 5px;
        &:hover{
          margin: 0 5px;
        }
      }
    }
  }
}

.searh{
  float: right;
  max-width: 247px;
  height: 33px;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #9e9b9b;
  margin-top: 25px;
  input{
    border: none;
    font-size:14px;
    height: 29px;
    padding-left: 12px;
    border-radius: 30px;
    @include placeholder{
      color: #a3a3a3;
      font-size:14px;


    }
  }
  button{
    background-image: url("../img/search.png");
    background-position: center;
    width: 20px;
    height: 22px;
    background-color: transparent;
    border: none;
    position: relative;
    float: right;
    margin: 6px 9px;
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      float: none;
      text-align: center;
      margin: 20px auto;
    }
  }

}


.menu-top{
  li{
    float: left;
    &:first-child{
      a{
        margin-left: 0;
      }
    }
    &:last-child{
      a{
        margin-right: 0;
      }
    }
  }
  a{
    display: block;
    color: #151515;
    font-size:14px;
    font-family: verdanab;
    margin: 21px 27px;
    &:hover{
      text-decoration: none;
      color: #cf2c38;
    }
  }
}