@import "bourbon";
@import "vars.scss";
@import "../libs/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../libs/magnific-popup/dist/magnific-popup.css";
$hamburger-hover-opacity: 1;
$hamburger-types: (elastic, elastic-r);
$hamburger-layer-color: #000;
@import "../app/libs/css-hamburgers/_sass/hamburgers/hamburgers.scss";



.btn{
  width: 211px;
  height: 42px;
  border: 2px solid #cf2c38;
  background-color: #cf2c38;
  box-shadow: 0 2px 0 0 #a5030f;
  border-radius: 5px;
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
  &:hover,&:focus{
    background-color: darken(#cf2c38,5);
    border: 2px solid darken(#cf2c38,5);
    box-shadow: 0 2px 0 0 darken(#a5030f,10);
    color: #fff;
  }
}

.main-content{
  background-color: #f7f7f7;
  padding-top: 40px;
}

.calendar{
  margin-top: 32px;
}

.sidebar-news{
  border: 1px solid #f4f4f4;
  background-color: #ffffff;
  margin-top: 35px;
}
.sidebar-news__item{
  border-bottom: 2px dashed #d1d1d1;
  padding: 21px;
  &:last-child{
    border-bottom: 0;
  }
  a{
    color: #9d9d9d;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
  }
  p{
    color: #151515;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    margin-top: 13px;
    max-height: 64px;
    overflow: hidden;
    line-height: 16px;
  }
}


.banner__item{
  position: relative;
  p{
    color: #ffffff;
    font-family: "Times New Roman";
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    top: 42px;
    text-shadow: 0 0 5px #000;
  }
}



.owl-nav{
  div{
    width: 30px;
    height: 47px;
    position: absolute;
    top: 49px;
    font-size: 0;
    &.disabled{
      opacity: 0.5;
    }
  }
}

.owl-prev{
  left: 11px;
  background: url(../img/sleft.png);
}

.owl-next{
  right: 11px;
  background: url(../img/sright.png);
}


.owl-dots{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 9px;
  text-align: center;
  div{
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 4px;
    position: relative;
    &.active{
      &:after{
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        background-color: #cf2c38;
        border-radius: 100%;
        left: 50%;
        top: 50%;
        margin-top: -4px;
        margin-left: -4px;
      }
    }
  }
}











//ALWAYS END
@import "sketches.scss";