@import "bourbon";
@import "vars.scss";
@import "../libs/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../libs/magnific-popup/dist/magnific-popup.css";
$hamburger-hover-opacity: 1;
$hamburger-types: (elastic, elastic-r);
$hamburger-layer-color: #000;
@import "../app/libs/css-hamburgers/_sass/hamburgers/hamburgers.scss";



.btn{
  width: 211px;
  height: 42px;
  border: 2px solid #cf2c38;
  background-color: #cf2c38;
  box-shadow: 0 2px 0 0 #a5030f;
  border-radius: 5px;
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
  &:hover,&:focus{
    background-color: darken(#cf2c38,5);
    border: 2px solid darken(#cf2c38,5);
    box-shadow: 0 2px 0 0 darken(#a5030f,10);
    color: #fff;
  }
  @if $adaptive == true {
    @media (max-width: 870px){
      width: auto;
      padding: 0 12px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 816px){
      padding: 0 5px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 767px){
      margin: 0 auto;
      display: block !important;
      max-width: 300px;
    }
  }
}

.main-content{
  background-color: #f7f7f7;
  padding-top: 40px;
  border-top: 2px solid #eeeeee;
}
.main-content-in{
  padding-top: 30px;
}
.calendar{
  margin-top: 32px;
  img{
    width: 100%;
  }
  @if $adaptive == true {
    @media (max-width: 767px){
      text-align: center;
        img{
          width: auto;
        }
    }
  }
}

.sidebar-news{
  border: 1px solid #f4f4f4;
  background-color: #ffffff;
  margin-top: 35px;
}
.sidebar-news__item{
  border-bottom: 2px dashed #d1d1d1;
  padding: 21px;
  &:last-child{
    border-bottom: 0;
  }
  a{
    color: #9d9d9d;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
  }
  p{
    color: #151515;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    margin-top: 13px;
    max-height: 64px;
    overflow: hidden;
    line-height: 16px;
  }
}


.banner__item{
  position: relative;
  p{
    color: #ffffff;
    font-family: "Times New Roman";
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    top: 42px;
    text-shadow: 0 0 5px #000;
  }
}



.owl-nav{
  div{
    width: 30px;
    height: 47px;
    position: absolute;
    top: 49px;
    font-size: 0;
    &.disabled{
      opacity: 0.5;
    }
  }
}

.owl-prev{
  left: 11px;
  background: url(../img/sleft.png);
}

.owl-next{
  right: 11px;
  background: url(../img/sright.png);
}


.owl-dots{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 9px;
  text-align: center;
  div{
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 4px;
    position: relative;
    &.active{
      &:after{
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        background-color: #cf2c38;
        border-radius: 100%;
        left: 50%;
        top: 50%;
        margin-top: -4px;
        margin-left: -4px;
      }
    }
  }
}



.content-for{
  padding-top: 27px;
}
.content-for{
  padding-top: 12px;
}

.poster{
  width: 100%;
  max-width: 341px;
  float: left;
  @if $adaptive == true {
    @media (max-width: 970px){
      max-width: inherit;
      float: none;
    }
  }
}
.poster-in{
  max-width: inherit;
  float: none;
  .items-cont{
    li{
      display: flex;
    }
  }
  .img-items{
    height: 175px;
    width: 164px;
    img{
      min-height: 175px;
    }
  }
  .p-text{
    h2{
      font-size: 36px;

    }
  }
  .text-items{
    width: 74%;
    p{
      color: #151515;
      font-family: verdanab;
    }

  }
  span{
    display: block;
    width: 100%;
    font-size: 18px;
    color: #151515;
    line-height: 18px;
    padding-top: 7px;

  }
  tt{
    display: block;
    font-size: 14px;
    line-height: 15px;
    color: #9d9d9d;
    padding-top: 15px;
  }
  @if $adaptive == true {
    @media (max-width: 670px){
      tt{
        padding-bottom: 15px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 450px){
      .items-cont{
        li{
          display: block;
        }
      }
    }
  }
}
.p-text{
  h2{
    font-size:24px;
    float: left;
    font-family:TrajanPro3-Bold;
   }
  a{
    display: block;
    float: right;
    color: #cf2c38;
    font-family:verdanab;
    font-size: 14px;
    padding-top: 7px;
  }
}

.items-cont{
  display: block;
  li{
    margin-top: 17px;
    background-color: #fff;
    clear: both;
    min-height: 143px;
  }
}

.img-items{
  float: left;
  width: 134px;
  height: 143px;
  img{
    width: 100%;
  }
  @if $adaptive == true {
    @media (max-width: 450px){
      float: none;
      width: 320px !important;
      text-align: center;
      display: block;
      margin: 0px auto;
      padding: 14px;
      img{
        width: auto;
      }
    }
  }
}

.text-items{
  padding-left: 15px;
  float: left;
  width: 207px;
  p{
    padding-top: 19px;
    color: #9d9d9d;
    font-size: 14px;
  }
  a{
    color: #151515;
    display: block;
    padding-top: 12px;
    font-size: 14px;
    line-height: 15px;
    &:hover{
      color: #cf2c38;
    }
  }
  @if $adaptive == true {
    @media (max-width: 970px){
      width: 78%;
      br{
        display: none;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 853px){
      width: 70%;
    }
  }
  @if $adaptive == true {
    @media (max-width: 450px){
      float: none;
      width: 100% !important;
      display: block;
      text-align: center;
      padding-bottom: 14px;
    }
  }
}


.go-to{
  text-align: center;
  a{
    text-decoration: underline;
    display: inline-block;
    color: #cf2c38;
    font-size:14px;
    padding-top: 19px;
    font-family:verdanab;
  }
}

.news{
  width: 100%;
  max-width: 341px;
  float: left;
  margin-left: 15px;
  @if $adaptive == true {
    @media (max-width: 970px){
      max-width: inherit;
      float: none;
      padding-left: 0;
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

.baner-content{
  img{
    width: 100%;
  }
  margin: 30px auto 27px auto;
}


.info-museum{
  h2{
    font-size: 24px;
    color: #151515;
    line-height: 24px;
    font-family:TrajanPro3-Bold;
  }
  p{
    padding-top: 19px;
    font-size: 15px;
    color: #151515;
    font-family:verdana;
  }
}


.info-museum-in{
  h2{
    font-size: 36px;
    line-height: 36px;
  }
  p{
    font-size: 14px;
    line-height: 18px;
    width: 100%;
  }
  @if $adaptive == true {
    @media (max-width: 767px){
      h2{
        text-align: center;
      }
    }
  }
}


.subscription{
  a{
    font-size:14px;
    line-height: 15px;
    color: #cf2c38;
    font-family:verdanab;
    display: block;
    margin-bottom: 27px;
  }
}

footer{
  padding-top: 24px;
  background-color: #050717;
  .right-num-soc{
    padding-top: 0;
    float: none;
    p{
      color: #fff;
    }
  }
}


.menu-footer{
  float: left;
  a{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    font-family: verdanab;
    &:hover{
      color: #cf2c38;
    }
  }
}
.menu-footer-two{
  padding-left: 60px;
}

.partners{
  float: left;
  padding-left: 73px;
  p{
    color: #ffffff;
    font-size:14px;
    line-height: 30px;
  }
  li{
    float: left;
    padding-top: 7px;
    &:first-child{
      margin-right: 21px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      float: right;
    }
  }
}

.faq-text{
  display: block;
  float: inherit;
  padding-top: 18px;
  padding-bottom: 12px;
  p{
    font-size: 14px;
    color: #74778a;
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      padding-top: 25px;
      width: 100%;
      text-align: center;
    }
  }

}

.email{
  text-align: right;
  font-size: 14px;
  padding-bottom: 20px;
  p{
    color: #fff;
  }
  @if $adaptive == true {
    @media (max-width: 991px){
        text-align: center;
    }
  }
}
.creat{
  text-align: right;
  *{
    display: inline-block;
  }
  p{
    color: #fff;
    padding-right: 4px;
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      text-align: center;
    }
  }
}

.footer-for-scary{
  background-color: #010106;
}
.left-sc{
  float: left;
  padding: 15px 0;
  p{
    font-size: 12px;
    color: #74778a;
  }
}
.email-c{
  padding: 17px 0 18px 58px;
  float: left;

}
.low-vers{
  float: right;
  padding: 11px 0;
  *{
    float: left;
  }
  img{
    padding-top: 8px;
    padding-right: 11px;
  }
  p{
    font-size: 16px;
    color: #fff;
  }
}


.breadcrumbs{
  margin-bottom: 22px;
  li{
    float: left;
    &:last-child{
      a{
        &:after{
          display: none;
        }
      }
    }
  }
  a{
    display: block;
    font-size:14px;
    color: #cf2c38;
    position: relative;
    text-decoration: underline;
    margin-right: 17px;
    &:after{
      position: absolute;
      content: "/";
      right: -12px;
      top: 0;
      color: #9d9d9d;
    }
    &:hover{
      color: #9d9d9d;
    }
  }
  .active{
    color: #9d9d9d;
    text-decoration: none;
  }
}
.space-list{
  text-align: center;
  margin-top: 19px;
  margin-bottom: 19px;
  .active{
    color: #cf2c38;
    border: 2px solid #cf2c38;
  }
  ul{
    display: inline-block;
  }
  li{
    float: left;
    &:first-child{
      a{
        border: none;
        background-image: url("../img/arrow-point-to-left.png");
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
      }
    }
    &:last-child{
      a{
        border: none;
        background-image: url("../img/arrow-point-to-right.png");
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 10px;
      }
    }
    &:nth-child(6){
      a{
        border: none;
      }
    }
  }
  a{
    color: #cac9c9;
    border: 2px solid #cac9c9;
    font-size:14px;
    border-radius: 120px;
    padding: 4.5px 8.6px;
    margin: 0 2px;
    &:hover{
      color: #cf2c38;
      border: 2px solid #cf2c38;
    }
  }
}



.departments-museum{
  margin-top: 23px;
  h2{
    font-size: 30px;
    color: #151515;
    font-family: TrajanPro3-Bold;
  }
  ul{
    text-align: center;
  }
  li{
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    width: 228px;
    text-align: center;
    margin: 9.5px 0px;
  }
  a{
    padding: 19px 17px;
    font-size:14px;
    display: block;
    color: #151515;
    &:hover{
      color: #cf2c38;
    }
  }
  img{
    width: 100%;
  }
  @if $adaptive == true {
    @media (max-width: 767px){
        text-align: center;
    }
  }
}




.link-museum{
  margin-top: 27px;
  margin-bottom: 33px;
  li{
    &:last-child{
      a{
        border: none;
      }
    }
  }
  a{
    display: block;
    background-color: #fff;
    padding: 22px 0px 22px 26px;
    font-size: 12px;
    color: #151515;
    background-image: url("../img/f1.png");
    background-repeat: no-repeat;
    background-position: left center;
    border-bottom: 1px dashed #d1d1d1;
    &:hover{
      color: #cf2c38;
      background-image: url("../img/f2.png");
    }
  }
}


//ALWAYS END
@import "sketches.scss";