header
    .top-head
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .logo
                            a(href="#")
                                img(src='img/logo.png')
                        .head-text
                            h2 «Музеи наукограда Королёв –<br>
                                | космос культурного наследия»
                        .right-num-soc
                            p +7 (555) 555-55-55
                            ul
                                li
                                    a(href='#')
                                        img(src='img/vk.png')
                                li
                                    a(href='#')
                                        img(src='img/facebook.png')
                                li
                                    a(href='#')
                                        img(src='img/twitter.png')
                                li
                                    a(href='#')
                                        img(src='img/whatsapp.png')
                                li
                                    a(href='#')
                                        img(src='img/ok.png')
    .grey-head
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .departments-menu
                            p Музейные отделы:
                            ul
                                li
                                  a(href="#" style= "background-image: url('img/1.png');")

                                li
                                  a(href="#" style= "background-image: url('img/2.png');")
                                li
                                  a(href="#" style= "background-image: url('img/3.png');")
                                li
                                  a(href="#" style= "background-image: url('img/4.png');")
                                li
                                  a(href="#" style= "background-image: url('img/5.png');")
                        .searh
                            form( method="post")
                                input(type='search' placeholder='Поиск по сайту')
                                button(type='submit' value="Поиск")
    .head-menu
        .inner
            .container-fluid
                .row
                    .col-md-12
                        ul.menu-top
                            li
                                a(href='#') О музее
                            li
                                a(href='#') Афиша
                            li
                                a(href='#') Новости
                            li
                                a(href='#') Посетителям
                            li
                                a(href='#') Медиа
                            li
                                a(href='#') Коллекции
                            li
                                a(href='#') Наука
                            li
                                a(href='#') Контакты
                        .hamburger.hamburger--elastic.hidden-md.visible-xs.visible-sm(type="button")
                            span.hamburger-box
                                span.hamburger-inner


