extends layouts/html.jade
block content
    .main-content.main-content-in
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .breadcrumbs.clearfix
                            ul
                                li
                                    a(href='#' ) Главная

                                li
                                    a(href='#' class='active') Афиша

                    .col-md-3.col-sm-3.col-xs-12
                        a.btn(href="#") Заказать экскурсию
                        div.calendar
                            img(src="img/calendar.jpg")
                        div.sidebar-news
                            .sidebar-news__item
                                a(href="#") 15 мая 2017 года
                                p В Государственном музее-заповеднике С.А.Есенина стартовал творческий проект «Музыкальное лето в Константинове». Каждую субботу в 13.00 на летней эстраде музея-заповедника будут проходить концерты на свежем воздухе, в которых примут участи
                            .sidebar-news__item
                                a(href="#") 15 мая 2017 года
                                p В Государственном музее-заповеднике С.А.Есенина стартовал творческий проект «Музыкальное лето в Константинове». Каждую субботу в 13.00 на летней эстраде музея-заповедника будут проходить концерты на свежем воздухе, в которых примут участи
                        .baner-content
                            img(src='img/baner2.jpg')
                        .baner-content
                            img(src='img/baner2.jpg')
                        .subscription
                            a(href='#') + Подписаться на <br>анонсы мероприятий
                            a(href='#') Оценка качества услуг<br> учреждений культуры
                    .col-md-9.col-sm-9.col-xs-12
                        .content-for.content-for-in.clearfix
                            .poster.poster-in
                                .p-text.clearfix
                                    h2 АФИША
                                .items-cont.clearfix
                                    ul
                                        li
                                            .img-items
                                                img(src='img/item2.jpg')
                                            .text-items
                                                p 15 мая — 30 сентября 2017 г.
                                                span Выставка-ярмарка «Модный лён и трикотаж» <br>длинное продолжение названия
                                                tt Вы́ставка — публичное представление достижений в области<br> экономики, науки, техники, культуры, искусства и других<br> областях общественной жизни. Понятие может обозначать как<br> само мероприятие, так и место проведения этого мероприятия.

                                        li
                                            .img-items
                                                img(src='img/item1.jpg')
                                            .text-items
                                                p 15 мая — 30 сентября 2017 г.
                                                span Выставка-ярмарка «Модный лён и трикотаж» <br>длинное продолжение названия
                                                tt Вы́ставка — публичное представление достижений в области<br> экономики, науки, техники, культуры, искусства и других<br> областях общественной жизни. Понятие может обозначать как<br> само мероприятие, так и место проведения этого мероприятия.

                                        li
                                            .img-items
                                                img(src='img/item1.jpg')
                                            .text-items
                                                p 15 мая — 30 сентября 2017 г.
                                                span Выставка-ярмарка «Модный лён и трикотаж» <br>длинное продолжение названия
                                                tt Вы́ставка — публичное представление достижений в области<br> экономики, науки, техники, культуры, искусства и других<br> областях общественной жизни. Понятие может обозначать как<br> само мероприятие, так и место проведения этого мероприятия.

                                        li
                                            .img-items
                                                img(src='img/item1.jpg')
                                            .text-items
                                                p 15 мая — 30 сентября 2017 г.
                                                span Выставка-ярмарка «Модный лён и трикотаж» <br>длинное продолжение названия
                                                tt Вы́ставка — публичное представление достижений в области<br> экономики, науки, техники, культуры, искусства и других<br> областях общественной жизни. Понятие может обозначать как<br> само мероприятие, так и место проведения этого мероприятия.

                                .space-list
                                    ul
                                        li
                                          a(href='#')
                                        li
                                          a(href='#' class='active') 1
                                        li
                                          a(href='#') 2
                                        li
                                          a(href='#') 3
                                        li
                                          a(href='#') 4
                                        li
                                          a(href='#') ...
                                        li
                                          a(href='#') 8
                                        li
                                          a(href='#')



