extends layouts/html.jade
block content
    .main-content
        .inner
            .container-fluid
                .row
                    .col-md-3.col-sm-3.col-xs-12
                        a.btn(href="#") Заказать экскурсию
                        div.calendar
                            img(src="img/calendar.jpg")
                        div.sidebar-news
                            .sidebar-news__item
                                a(href="#") 15 мая 2017 года
                                p В Государственном музее-заповеднике С.А.Есенина стартовал творческий проект «Музыкальное лето в Константинове». Каждую субботу в 13.00 на летней эстраде музея-заповедника будут проходить концерты на свежем воздухе, в которых примут участи
                            .sidebar-news__item
                                a(href="#") 15 мая 2017 года
                                p В Государственном музее-заповеднике С.А.Есенина стартовал творческий проект «Музыкальное лето в Константинове». Каждую субботу в 13.00 на летней эстраде музея-заповедника будут проходить концерты на свежем воздухе, в которых примут участи
                        .baner-content
                            img(src='img/baner2.jpg')
                        .baner-content
                            img(src='img/baner2.jpg')
                        .subscription
                            a(href='#') + Подписаться на <br>анонсы мероприятий
                            a(href='#') Оценка качества услуг<br> учреждений культуры
                    .col-md-9.col-sm-9.col-xs-12
                        .owl-carousel
                            .banner__item
                                img(src="img/banner.jpg")
                                p Баннер/слайдер
                            .banner__item
                                img(src="img/banner.jpg")
                                p Баннер/слайдер
                        .content-for.clearfix
                            .poster
                                .p-text.clearfix
                                    h2 АФИША
                                    a(href='#') + Подписаться
                                .items-cont.clearfix
                                    ul
                                        li
                                          .img-items
                                              img(src='img/item1.jpg')
                                          .text-items
                                              p 15 мая — 30 сентября <br>2017 г.
                                              a(href='#') Выставка «Общество <br> потребления.<br> Сублимация желаний» 12+
                                        li
                                          .img-items
                                              img(src='img/item2.jpg')
                                          .text-items
                                              p 10 июля — 15 августа <br>2017 г.
                                              a(href='#') Выставка-ярмарка<br> «Модный лён и<br> трикотаж» 0+
                                        li
                                            .img-items
                                                img(src='img/item1.jpg')
                                            .text-items
                                                p 15 мая — 30 сентября <br>2017 г.
                                                a(href='#') Выставка «Общество <br> потребления.<br> Сублимация желаний» 12+
                                        li
                                            .img-items
                                                img(src='img/item2.jpg')
                                            .text-items
                                                p 10 июля — 15 августа <br>2017 г.
                                                a(href='#') Выставка-ярмарка<br> «Модный лён и<br> трикотаж» 0+

                                .go-to
                                    a(href='#') Смотреть всю афишу
                            .news
                                .p-text.clearfix
                                    h2 НОВОСТИ
                                    a(href='#') + Подписаться
                                .items-cont.clearfix
                                    ul
                                        li
                                          .img-items
                                              img(src='img/item3.jpg')
                                          .text-items
                                              p 15 мая 2017 года
                                              a(href='#') В Государственном<br> музее-заповеднике<br> С.А.Есенина стартовал<br> творческий проект
                                        li
                                            .img-items
                                                img(src='img/item1.jpg')
                                            .text-items
                                                p 15 мая — 30 сентября <br>2017 г.
                                                a(href='#') Выставка «Общество <br> потребления.<br> Сублимация желаний» 12+
                                        li
                                            .img-items
                                                img(src='img/item4.jpg')
                                            .text-items
                                                p 15 мая 2017 года.
                                                a(href='#') В Государственном<br> музее-заповеднике<br> С.А.Есенина стартовал<br> творческий проект
                                        li
                                            .img-items
                                                img(src='img/item1.jpg')
                                            .text-items
                                                p 15 мая — 30 сентября <br>2017 г.
                                                a(href='#') Выставка «Общество <br> потребления.<br> Сублимация желаний» 12+
                                .go-to
                                    a(href='#') Читать все новости
                        .baner-content
                           img(src='img/baner1.jpg')
                        .info-museum
                            h2 О музее
                            p Подмосковный Королёв (в прошлом Калининград) по праву считается городом, где родилась отечественная  космонавтика. Однако история города более многогранна, чем только та история, которая связана с развитием оборонных предприятий ракетно-космической отрасли.
                            p На территории наукограда Королев находятся множество объектов, обладающих историко-архитектурной, художественной, научной и мемориальной ценностью, которые имеют особое значение для истории и культуры как Московской области, так и для Российской Федерации в целом. Особенно интересны историко-культурные и мемориальные комплексы, в которых расположены музеи наукограда Королев.
                            p С 2017 г. в наукограде Королёв было создано Музейное объединение «Музеи наукограда Королёв», которое включает в себя два литературных музея – мемориальные дома М. И. Цветаевой и С.Н. Дурылина, отдел «Усадьба Костино», а также два отдела «Новейшей истории» города.



