extends layouts/html.jade
block content
    .main-content
        .inner
            .container-fluid
                .row
                    .col-md-3
                        a.btn(href="#") Заказать экскурсию
                        div.calendar
                            img(src="img/calendar.jpg")
                        div.sidebar-news
                            .sidebar-news__item
                                a(href="#") 15 мая 2017 года
                                p В Государственном музее-заповеднике С.А.Есенина стартовал творческий проект «Музыкальное лето в Константинове». Каждую субботу в 13.00 на летней эстраде музея-заповедника будут проходить концерты на свежем воздухе, в которых примут участи
                            .sidebar-news__item
                                a(href="#") 15 мая 2017 года
                                p В Государственном музее-заповеднике С.А.Есенина стартовал творческий проект «Музыкальное лето в Константинове». Каждую субботу в 13.00 на летней эстраде музея-заповедника будут проходить концерты на свежем воздухе, в которых примут участи
                    .col-md-9
                        .owl-carousel
                            .banner__item
                                img(src="img/banner.jpg")
                                p Баннер/слайдер
                            .banner__item
                                img(src="img/banner.jpg")
                                p Баннер/слайдер

