extends layouts/html.jade
block content
    .main-content.main-content-in
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .breadcrumbs.clearfix
                            ul
                                li
                                    a(href='#' ) Главная

                                li
                                    a(href='#' class='active') Афиша

                    .col-md-3.col-sm-3.col-xs-12
                        a.btn(href="#") Заказать экскурсию
                        div.calendar
                            img(src="img/calendar.jpg")
                        div.sidebar-news
                            .sidebar-news__item
                                a(href="#") 15 мая 2017 года
                                p В Государственном музее-заповеднике С.А.Есенина стартовал творческий проект «Музыкальное лето в Константинове». Каждую субботу в 13.00 на летней эстраде музея-заповедника будут проходить концерты на свежем воздухе, в которых примут участи
                            .sidebar-news__item
                                a(href="#") 15 мая 2017 года
                                p В Государственном музее-заповеднике С.А.Есенина стартовал творческий проект «Музыкальное лето в Константинове». Каждую субботу в 13.00 на летней эстраде музея-заповедника будут проходить концерты на свежем воздухе, в которых примут участи
                        .link-museum
                            ul
                                li
                                  a(href='#') Мемориальный Дом-музей М.И.Цветаевой в Болшеве
                                li
                                  a(href='#') Мемориальный Дом-музей С.Н.Дурылина
                                li
                                  a(href='#') Музей «Усадьба Костино»
                                li
                                  a(href='#') Музей «Новейшей истории»
                                li
                                  a(href='#') Музей «Новейшей истории мкр. Юбилейный»
                                li
                                  a(href='#') Официальная инфорация
                        .subscription
                            a(href='#') + Подписаться на <br>анонсы мероприятий
                            a(href='#') Оценка качества услуг<br> учреждений культуры
                    .col-md-9.col-sm-9.col-xs-12
                        .content-for.content-for-in.clearfix
                            .info-museum.info-museum-in
                                h2 О музее
                                p Подмосковный Королёв (в прошлом Калининград) по праву считается городом, где родилась отечественная  космонавтика. Однако история города более многогранна, чем только та история, которая связана с развитием оборонных предприятий ракетно-космической отрасли.
                                p На территории наукограда Королев находятся множество объектов, обладающих историко-архитектурной, художественной, научной и мемориальной ценностью, которые имеют особое значение для истории и культуры как Московской области, так и для Российской Федерации в целом. Особенно интересны историко-культурные и мемориальные комплексы, в которых расположены музеи наукограда Королев.
                                p С 2017 г. в наукограде Королёв было создано Музейное объединение «Музеи наукограда Королёв», которое включает в себя два литературных музея – мемориальные дома М. И. Цветаевой и С.Н. Дурылина, отдел «Усадьба Костино», а также два отдела «Новейшей истории» города.
                            .departments-museum
                                h2 Отделы музея (заголовок h2)
                                ul
                                    li
                                      img(src='img/dep1.jpg')
                                      a(href='#') Мемориальный Дом-музей М.И.Цветаевой в Болшеве
                                    li
                                      img(src='img/dep2.jpg')
                                      a(href='#') Мемориальный Дом-музей С.Н.Дурылина
                                    li
                                      img(src='img/dep3.jpg')
                                      a(href='#') Мемориальный Дом-музей С.Н.Дурылина
                                    li
                                      img(src='img/dep4.jpg')
                                      a(href='#') Мемориальный Дом-музей С.Н.Дурылина
                                    li
                                      img(src='img/dep5.jpg')
                                      a(href='#') Мемориальный Дом-музей С.Н.Дурылина
                            .info-museum.info-museum-in
                                p Подмосковный Королёв (в прошлом Калининград) по праву считается городом, где родилась отечественная  космонавтика. Однако история города более многогранна, чем только та история, которая связана с развитием оборонных предприятий ракетно-космической отрасли.
                                p На территории наукограда Королев находятся множество объектов, обладающих историко-архитектурной, художественной, научной и мемориальной ценностью, которые имеют особое значение для истории и культуры как Московской области, так и для Российской Федерации в целом. Особенно интересны историко-культурные и мемориальные комплексы, в которых расположены музеи наукограда Королев.
                                p С 2017 г. в наукограде Королёв было создано Музейное объединение «Музеи наукограда Королёв», которое включает в себя два литературных музея – мемориальные дома М. И. Цветаевой и С.Н. Дурылина, отдел «Усадьба Костино», а также два отдела «Новейшей истории» города.




